/src/DataFeed.Geography/obj
/src/DataFeed.Geography/bin
/src/DataFeed.Geography.FeedMonitor/obj
/src/DataFeed.Geography.FeedMonitor/bin
/src/DataFeed.Geography.Model/obj
/src/DataFeed.Geography.Model/bin
/src/DataFeed.Geography.WebApi/obj
/src/DataFeed.Geography.WebApi/bin
/src/.vs
/src/DataFeed.Framework.Repository/bin
/src/DataFeed.Finance.WebApi/bin
/src/DataFeed.Finance.FeedMonitor/bin
/src/DataFeed.Framework.Enums/bin
/src/DataFeed.Framework.Service/bin
/src/DataFeed.Finance.FeedMonitor/obj
/src/DataFeed.Finance.WebApi/obj
/src/DataFeed.Framework.Repository/obj
/src/DataFeed.Framework.Service/obj
/src/DataFeed.Framework.Enums/obj
