<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="$\..\Packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--<add key="custom_nuget" value="http://custom_nuget/repository/nuget-hosted/" />-->
  </packageSources>
  <packageSourceCredentials>
    <!--<custom_nuget>
      <add key="Username" value="guohulin" />
      <add key="ClearTextPassword" value="WelcometoTCM^123" />
    </custom_nuget>-->
    </packageSourceCredentials>
</configuration>