<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="$\..\Packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="tcminplay" value="http://nuget.isuperx.com:8081/repository/nuget-hosted/" />
  </packageSources>
  <packageSourceCredentials>
    <tcminplay>
      <add key="Username" value="guohulin" />
      <add key="ClearTextPassword" value="WelcometoTCM^123" />
    </tcminplay>
  </packageSourceCredentials>
</configuration>